version: 1.{build}

os:
  - Visual Studio 2015

test: off

clone_folder: C:\projects\ElementSyn

build_script:
  - echo Running cmake...
  - cd C:\projects\ElementSyn
  - cmake -G "Visual Studio 14 2015 Win64"
  - set MSBuildLogger="C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
  - set MSBuildOptions=/v:m /p:Configuration=Release /logger:%MSBuildLogger%
  - msbuild %MSBuildOptions% ElementSyn.sln
